{
  "name": "krockwell.github.io",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compiler-concat-js\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/projects.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compiler-concat-js\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "css/scss/_breakpoints.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "css/scss/_variables.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "css/scss/meters.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "css/scss/projects.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js",
      "css/scss",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "css/bourbon/_bourbon.scss",
      "imports": [
        "css/bourbon/settings/_deprecation-warnings.scss",
        "css/bourbon/settings/_prefixer.scss",
        "css/bourbon/settings/_px-to-em.scss",
        "css/bourbon/settings/_asset-pipeline.scss",
        "css/bourbon/_bourbon-deprecate.scss",
        "css/bourbon/functions/_assign-inputs.scss",
        "css/bourbon/functions/_contains.scss",
        "css/bourbon/functions/_contains-falsy.scss",
        "css/bourbon/functions/_is-length.scss",
        "css/bourbon/functions/_is-light.scss",
        "css/bourbon/functions/_is-number.scss",
        "css/bourbon/functions/_is-size.scss",
        "css/bourbon/functions/_px-to-em.scss",
        "css/bourbon/functions/_px-to-rem.scss",
        "css/bourbon/functions/_shade.scss",
        "css/bourbon/functions/_strip-units.scss",
        "css/bourbon/functions/_tint.scss",
        "css/bourbon/functions/_transition-property-name.scss",
        "css/bourbon/functions/_unpack.scss",
        "css/bourbon/functions/_modular-scale.scss",
        "css/bourbon/helpers/_convert-units.scss",
        "css/bourbon/helpers/_directional-values.scss",
        "css/bourbon/helpers/_font-source-declaration.scss",
        "css/bourbon/helpers/_gradient-positions-parser.scss",
        "css/bourbon/helpers/_linear-angle-parser.scss",
        "css/bourbon/helpers/_linear-gradient-parser.scss",
        "css/bourbon/helpers/_linear-positions-parser.scss",
        "css/bourbon/helpers/_linear-side-corner-parser.scss",
        "css/bourbon/helpers/_radial-arg-parser.scss",
        "css/bourbon/helpers/_radial-positions-parser.scss",
        "css/bourbon/helpers/_radial-gradient-parser.scss",
        "css/bourbon/helpers/_render-gradients.scss",
        "css/bourbon/helpers/_shape-size-stripper.scss",
        "css/bourbon/helpers/_str-to-num.scss",
        "css/bourbon/css3/_animation.scss",
        "css/bourbon/css3/_appearance.scss",
        "css/bourbon/css3/_backface-visibility.scss",
        "css/bourbon/css3/_background.scss",
        "css/bourbon/css3/_background-image.scss",
        "css/bourbon/css3/_border-image.scss",
        "css/bourbon/css3/_calc.scss",
        "css/bourbon/css3/_columns.scss",
        "css/bourbon/css3/_filter.scss",
        "css/bourbon/css3/_flex-box.scss",
        "css/bourbon/css3/_font-face.scss",
        "css/bourbon/css3/_font-feature-settings.scss",
        "css/bourbon/css3/_hidpi-media-query.scss",
        "css/bourbon/css3/_hyphens.scss",
        "css/bourbon/css3/_image-rendering.scss",
        "css/bourbon/css3/_keyframes.scss",
        "css/bourbon/css3/_linear-gradient.scss",
        "css/bourbon/css3/_perspective.scss",
        "css/bourbon/css3/_placeholder.scss",
        "css/bourbon/css3/_radial-gradient.scss",
        "css/bourbon/css3/_selection.scss",
        "css/bourbon/css3/_text-decoration.scss",
        "css/bourbon/css3/_transform.scss",
        "css/bourbon/css3/_transition.scss",
        "css/bourbon/css3/_user-select.scss",
        "css/bourbon/addons/_border-color.scss",
        "css/bourbon/addons/_border-radius.scss",
        "css/bourbon/addons/_border-style.scss",
        "css/bourbon/addons/_border-width.scss",
        "css/bourbon/addons/_buttons.scss",
        "css/bourbon/addons/_clearfix.scss",
        "css/bourbon/addons/_ellipsis.scss",
        "css/bourbon/addons/_font-stacks.scss",
        "css/bourbon/addons/_hide-text.scss",
        "css/bourbon/addons/_margin.scss",
        "css/bourbon/addons/_padding.scss",
        "css/bourbon/addons/_position.scss",
        "css/bourbon/addons/_prefixer.scss",
        "css/bourbon/addons/_retina-image.scss",
        "css/bourbon/addons/_size.scss",
        "css/bourbon/addons/_text-inputs.scss",
        "css/bourbon/addons/_timing-functions.scss",
        "css/bourbon/addons/_triangle.scss",
        "css/bourbon/addons/_word-wrap.scss",
        "css/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "css/scss/main.scss",
      "imports": [
        "css/scss/_variables.scss",
        "css/scss/projects.scss",
        "css/scss/meters.scss",
        "css/scss/_breakpoints.scss",
        "css/bourbon/_bourbon.scss",
        "css/bourbon/settings/_deprecation-warnings.scss",
        "css/bourbon/settings/_prefixer.scss",
        "css/bourbon/settings/_px-to-em.scss",
        "css/bourbon/settings/_asset-pipeline.scss",
        "css/bourbon/_bourbon-deprecate.scss",
        "css/bourbon/functions/_assign-inputs.scss",
        "css/bourbon/functions/_contains.scss",
        "css/bourbon/functions/_contains-falsy.scss",
        "css/bourbon/functions/_is-length.scss",
        "css/bourbon/functions/_is-light.scss",
        "css/bourbon/functions/_is-number.scss",
        "css/bourbon/functions/_is-size.scss",
        "css/bourbon/functions/_px-to-em.scss",
        "css/bourbon/functions/_px-to-rem.scss",
        "css/bourbon/functions/_shade.scss",
        "css/bourbon/functions/_strip-units.scss",
        "css/bourbon/functions/_tint.scss",
        "css/bourbon/functions/_transition-property-name.scss",
        "css/bourbon/functions/_unpack.scss",
        "css/bourbon/functions/_modular-scale.scss",
        "css/bourbon/helpers/_convert-units.scss",
        "css/bourbon/helpers/_directional-values.scss",
        "css/bourbon/helpers/_font-source-declaration.scss",
        "css/bourbon/helpers/_gradient-positions-parser.scss",
        "css/bourbon/helpers/_linear-angle-parser.scss",
        "css/bourbon/helpers/_linear-gradient-parser.scss",
        "css/bourbon/helpers/_linear-positions-parser.scss",
        "css/bourbon/helpers/_linear-side-corner-parser.scss",
        "css/bourbon/helpers/_radial-arg-parser.scss",
        "css/bourbon/helpers/_radial-positions-parser.scss",
        "css/bourbon/helpers/_radial-gradient-parser.scss",
        "css/bourbon/helpers/_render-gradients.scss",
        "css/bourbon/helpers/_shape-size-stripper.scss",
        "css/bourbon/helpers/_str-to-num.scss",
        "css/bourbon/css3/_animation.scss",
        "css/bourbon/css3/_appearance.scss",
        "css/bourbon/css3/_backface-visibility.scss",
        "css/bourbon/css3/_background.scss",
        "css/bourbon/css3/_background-image.scss",
        "css/bourbon/css3/_border-image.scss",
        "css/bourbon/css3/_calc.scss",
        "css/bourbon/css3/_columns.scss",
        "css/bourbon/css3/_filter.scss",
        "css/bourbon/css3/_flex-box.scss",
        "css/bourbon/css3/_font-face.scss",
        "css/bourbon/css3/_font-feature-settings.scss",
        "css/bourbon/css3/_hidpi-media-query.scss",
        "css/bourbon/css3/_hyphens.scss",
        "css/bourbon/css3/_image-rendering.scss",
        "css/bourbon/css3/_keyframes.scss",
        "css/bourbon/css3/_linear-gradient.scss",
        "css/bourbon/css3/_perspective.scss",
        "css/bourbon/css3/_placeholder.scss",
        "css/bourbon/css3/_radial-gradient.scss",
        "css/bourbon/css3/_selection.scss",
        "css/bourbon/css3/_text-decoration.scss",
        "css/bourbon/css3/_transform.scss",
        "css/bourbon/css3/_transition.scss",
        "css/bourbon/css3/_user-select.scss",
        "css/bourbon/addons/_border-color.scss",
        "css/bourbon/addons/_border-radius.scss",
        "css/bourbon/addons/_border-style.scss",
        "css/bourbon/addons/_border-width.scss",
        "css/bourbon/addons/_buttons.scss",
        "css/bourbon/addons/_clearfix.scss",
        "css/bourbon/addons/_ellipsis.scss",
        "css/bourbon/addons/_font-stacks.scss",
        "css/bourbon/addons/_hide-text.scss",
        "css/bourbon/addons/_margin.scss",
        "css/bourbon/addons/_padding.scss",
        "css/bourbon/addons/_position.scss",
        "css/bourbon/addons/_prefixer.scss",
        "css/bourbon/addons/_retina-image.scss",
        "css/bourbon/addons/_size.scss",
        "css/bourbon/addons/_text-inputs.scss",
        "css/bourbon/addons/_timing-functions.scss",
        "css/bourbon/addons/_triangle.scss",
        "css/bourbon/addons/_word-wrap.scss",
        "css/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "css/scss/meters.scss",
      "imports": [
        "css/bourbon/_bourbon.scss",
        "css/bourbon/settings/_deprecation-warnings.scss",
        "css/bourbon/settings/_prefixer.scss",
        "css/bourbon/settings/_px-to-em.scss",
        "css/bourbon/settings/_asset-pipeline.scss",
        "css/bourbon/_bourbon-deprecate.scss",
        "css/bourbon/functions/_assign-inputs.scss",
        "css/bourbon/functions/_contains.scss",
        "css/bourbon/functions/_contains-falsy.scss",
        "css/bourbon/functions/_is-length.scss",
        "css/bourbon/functions/_is-light.scss",
        "css/bourbon/functions/_is-number.scss",
        "css/bourbon/functions/_is-size.scss",
        "css/bourbon/functions/_px-to-em.scss",
        "css/bourbon/functions/_px-to-rem.scss",
        "css/bourbon/functions/_shade.scss",
        "css/bourbon/functions/_strip-units.scss",
        "css/bourbon/functions/_tint.scss",
        "css/bourbon/functions/_transition-property-name.scss",
        "css/bourbon/functions/_unpack.scss",
        "css/bourbon/functions/_modular-scale.scss",
        "css/bourbon/helpers/_convert-units.scss",
        "css/bourbon/helpers/_directional-values.scss",
        "css/bourbon/helpers/_font-source-declaration.scss",
        "css/bourbon/helpers/_gradient-positions-parser.scss",
        "css/bourbon/helpers/_linear-angle-parser.scss",
        "css/bourbon/helpers/_linear-gradient-parser.scss",
        "css/bourbon/helpers/_linear-positions-parser.scss",
        "css/bourbon/helpers/_linear-side-corner-parser.scss",
        "css/bourbon/helpers/_radial-arg-parser.scss",
        "css/bourbon/helpers/_radial-positions-parser.scss",
        "css/bourbon/helpers/_radial-gradient-parser.scss",
        "css/bourbon/helpers/_render-gradients.scss",
        "css/bourbon/helpers/_shape-size-stripper.scss",
        "css/bourbon/helpers/_str-to-num.scss",
        "css/bourbon/css3/_animation.scss",
        "css/bourbon/css3/_appearance.scss",
        "css/bourbon/css3/_backface-visibility.scss",
        "css/bourbon/css3/_background.scss",
        "css/bourbon/css3/_background-image.scss",
        "css/bourbon/css3/_border-image.scss",
        "css/bourbon/css3/_calc.scss",
        "css/bourbon/css3/_columns.scss",
        "css/bourbon/css3/_filter.scss",
        "css/bourbon/css3/_flex-box.scss",
        "css/bourbon/css3/_font-face.scss",
        "css/bourbon/css3/_font-feature-settings.scss",
        "css/bourbon/css3/_hidpi-media-query.scss",
        "css/bourbon/css3/_hyphens.scss",
        "css/bourbon/css3/_image-rendering.scss",
        "css/bourbon/css3/_keyframes.scss",
        "css/bourbon/css3/_linear-gradient.scss",
        "css/bourbon/css3/_perspective.scss",
        "css/bourbon/css3/_placeholder.scss",
        "css/bourbon/css3/_radial-gradient.scss",
        "css/bourbon/css3/_selection.scss",
        "css/bourbon/css3/_text-decoration.scss",
        "css/bourbon/css3/_transform.scss",
        "css/bourbon/css3/_transition.scss",
        "css/bourbon/css3/_user-select.scss",
        "css/bourbon/addons/_border-color.scss",
        "css/bourbon/addons/_border-radius.scss",
        "css/bourbon/addons/_border-style.scss",
        "css/bourbon/addons/_border-width.scss",
        "css/bourbon/addons/_buttons.scss",
        "css/bourbon/addons/_clearfix.scss",
        "css/bourbon/addons/_ellipsis.scss",
        "css/bourbon/addons/_font-stacks.scss",
        "css/bourbon/addons/_hide-text.scss",
        "css/bourbon/addons/_margin.scss",
        "css/bourbon/addons/_padding.scss",
        "css/bourbon/addons/_position.scss",
        "css/bourbon/addons/_prefixer.scss",
        "css/bourbon/addons/_retina-image.scss",
        "css/bourbon/addons/_size.scss",
        "css/bourbon/addons/_text-inputs.scss",
        "css/bourbon/addons/_timing-functions.scss",
        "css/bourbon/addons/_triangle.scss",
        "css/bourbon/addons/_word-wrap.scss",
        "css/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"ruby-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"replaceSegments\":[\"css/scss\"],\"relative\":\"./\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": true,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}