@import "../bourbon/bourbon";

$green: #9dad60;
$brown: #8f8c69;
$light: #89919e;

.meters {
	list-style: none;
	font-size: 0.7em;
	padding-left: 0;
	.meter {
	    position: relative;
	    height: 3em;
	    width: 100%;
	    display: inline-block;	    
	    padding: 0.2em 0;
	    width: 46%;
	    &:nth-child(2n-1) {
	    	margin-right: 4%;
	    }
	    &:before,
	    &:after {
	    	content: "";
	    	box-sizing: border-box;
	    	position: absolute;
	    	border-radius: 16px;
	    	margin-top: 1.5em;
	    }
	    &:before {
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	left: 0;
	    	height: 16px;
	    	border: 1px solid #797784;
	    }
	    &:after {
	    	background-color: $green;
	    	background: repeating-linear-gradient(-45deg, $green, $green 7px, lighten($green, 3) 7px, lighten($green, 3) 14px);
	    	height: 10px;
	    	top: 3px; 
	    	right: 0;
	    	bottom: 0;
	    	left: 3px;
	    	@include animation(fill 1.5s both);
	    }
	    &.b:after {
	    	background-color: $brown;
	    	background: repeating-linear-gradient(-45deg, $brown, $brown 7px, lighten($brown, 3) 7px, lighten($brown, 3) 14px);
	    }
	    &.l:after {
	    	background-color: $light;
	    	background: repeating-linear-gradient(-45deg, $light, $light 7px, lighten($light, 3) 7px, lighten($light, 3) 14px);
	    }
	    &[aria-label="lv1"]:after {
	    	right: 75%;
	    }
	    &[aria-label="lv2"]:after {
	    	right: 50%;
	    }
	    &[aria-label="lv3"]:after {
	    	right: 35%;
	    }
	    &[aria-label="lv4"]:after {
	    	right: 20%;
	    }
	    &[aria-label="lv5"]:after {
	    	right: 10%;
	    }
	    &[aria-label="lvmax"]:after {
	    	right: 3px;
	    }
	}
}

@include keyframes(fill) {
	from {
		right: 100%;
	}
}