@import "breakpoints";
@charset "UTF-8";

.blurb.projects {
	position: relative;
}

.extra-info {
	background-color: #ffffff;
	box-shadow: 4px 6px 14px 0px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: -1% 0 0 -1.5%;
	padding: 3% 3%;
	position: absolute;
	top: 0;
	width: 103%;
	z-index: 3;
	&.hidden {
		display: none;        
	}
	.exit {
		font-size: 1.8em;
		position: absolute;
		display: block;
		top: 7.5%;
		right: 8%;
		color: rgba(121, 119, 132, 0.25);
		transition: color 200ms linear;
	}
	.exit:hover {
		cursor: pointer;
		color: rgba(121, 119, 132, 0.5);
	}
	* {
		opacity: 0;
	}
	& > div {
		border: 1px solid rgba(121, 119, 132, 0.6);
		box-sizing: border-box;
		height: 100%;
		padding: 4%;
	}
	h1 {
		font-family: $headers-stack;
		font-size: 1em;
		font-weight: 200;
		letter-spacing: 0em;
		text-transform: uppercase;
		strong {
			color: $dark-gray;
			display: block;
			font-family: $headers-stack;
			font-size: 1.7em;
			font-weight: 800;
			letter-spacing: 0.05em;
		}
		i {
			padding-left: 10px;
			margin-top: -0.4em;
			color: rgba(121, 119, 132, 0.25);
			transition: color 200ms linear;
		}
		i:hover {
			color: rgba(121, 119, 132, 0.5);
		}
	}
	.stats {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& > div {
			padding-bottom: 10px;
		}
		.timescale, {
			flex-basis: 25%;
			span {
				color: rgba(121, 119, 132, 0.7);
				font-family: $main-stack;
				font-size: 0.7em;
				font-weight: 400;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}
		}
		.team {
			flex-basis: 25%;
			span {
				color: $dark-gray;
				font-size: 2em;
				font-weight: 800;
			}
		}
		.tags {
			flex-basis: 40%;
			span {
				color: rgba(121, 119, 132, 0.7);
				font-family: $main-stack;
				font-size: 0.7em;
				font-weight: 400;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}
		}
	}
}

.projects-list {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 20px 0;
	padding: 0;
	.project-card {
		@include respond-to('medium') {
			flex-basis: 99%;
			margin-bottom: 10px;
			padding: 0;
		}
		box-sizing: border-box;
		hyphens: manual;
		margin: 0 auto 15px auto;
		transition: all 200ms linear;
		flex-basis: 31%;
		&:hover {
			@include respond-to('tiny') {
				transform: none;
			}
			cursor: pointer;
			transform: translate(2px, 2px);
		}
		& > div {
			@include respond-to('medium') {
				align-items: stretch;
				display: flex;
				justify-content: space-between;
				padding: 5%;
			}
			@include respond-to('tiny') {
				padding: 5% 0;
			}
			box-sizing: border-box;
			display: block;
			height: 100%;
			padding: 8%;
			border: 1px solid $lightest-gray;
			transition: all 180ms linear;
			&:hover {
				box-shadow: 0 0 10px rgba($medium-gray, 0.6);
				border: 1px solid $lightest-gray;
			}
			// info text area for project
			.project-info {
				@include respond-to('medium') {
					flex-basis: 70%;
				}
				@include respond-to('tiny') {
					flex-basis: 66%;
					margin-right: 4%;
				}
			}
			// image logo for project
			.project-img {
				@include respond-to('tiny') {
					margin-bottom: 0;
					margin-top: 0;
					min-height: initial;
				}
				@include respond-to('medium') {
					display: inline-block;
					flex-basis: 22%;
					max-width: 22%;
				}
				display: block;
				margin: 5% auto 12% auto;
				max-width: 80%;
				min-height: 70px;
				width: 80%;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		h1 {
			@include respond-to('tiny') {
				font-size: 0.9em;
			}
			font-family: $main-stack;
			font-size: 0.8em;
			font-weight: 600;
			margin: 4px 0 8px 0;
			text-transform: none;
		}
		.desc {
			@include respond-to('tiny') {
				font-size: 0.8em;
			}
			box-sizing: border-box;
			display: inline-block;
			font-family: $main-stack;
			font-size: 0.7em;
			line-height: 1.3em;
		}
		.cats {
			@include respond-to('tiny') {
				font-size: 0.7em;
			}
			margin-bottom: 4px; // same as top margin on h1
			display: flex;
			font-family: $main-stack;
			margin-top: 15px;
			font-size: 0.6em;
			line-height: 1.3em;
			& > * {
				flex-basis: 74%;
				&:first-child {
					flex-basis: 25%;
				}
			}
		}
	}
}
