@import "breakpoints";
@charset "UTF-8";

.blurb.projects {
	position: relative;
}

.extra-info {
	background-color: #ffffff;
	box-shadow: 4px 6px 14px 0px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: -1% 0 0 -1.5%;
	padding: 3% 3%;
	position: absolute;
	top: 0;
	width: 103%;
	z-index: 3;
	&.hidden {
		display: none;        
	}
	.exit {
		font-size: 1.8em;
		position: absolute;
		display: block;
		top: 7.5%;
		right: 8%;
		color: rgba(121, 119, 132, 0.25);
		transition: color 200ms linear;
	}
	.exit:hover {
		cursor: pointer;
		color: rgba(121, 119, 132, 0.5);
	}
	* {
		opacity: 0;
	}
	& > div {
		border: 1px solid rgba(121, 119, 132, 0.6);
		box-sizing: border-box;
		height: 100%;
		padding: 4%;
	}
	h1 {
		font-family: $headers-stack;
		font-size: 1em;
		font-weight: 200;
		letter-spacing: 0em;
		text-transform: uppercase;
		strong {
			color: $dark-gray;
			display: block;
			font-family: $headers-stack;
			font-size: 1.7em;
			font-weight: 800;
			letter-spacing: 0.05em;
		}
		i {
			padding-left: 10px;
			margin-top: -0.4em;
			color: rgba(121, 119, 132, 0.25);
			transition: color 200ms linear;
		}
		i:hover {
			color: rgba(121, 119, 132, 0.5);
		}
	}
	.stats {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& > div {
			padding-bottom: 10px;
		}
		.timescale, {
			flex-basis: 25%;
			span {
				color: rgba(121, 119, 132, 0.7);
				font-family: $main-stack;
				font-size: 0.7em;
				font-weight: 400;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}
		}
		.team {
			flex-basis: 25%;
			span {
				color: $dark-gray;
				font-size: 2em;
				font-weight: 800;
			}
		}
		.tags {
			flex-basis: 40%;
			span {
				color: rgba(121, 119, 132, 0.7);
				font-family: $main-stack;
				font-size: 0.7em;
				font-weight: 400;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}
		}
	}
}

.projects-list {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 20px 0;
	padding: 0;
	.project-card {
		@include respond-to('tiny') {
			flex-basis: 90%;
			padding: 1%;
		}
		box-sizing: border-box;
		hyphens: manual;
		margin: 0 auto 15px auto;
		transition: all 200ms linear;
		flex-basis: 31%;
		&:hover {
			cursor: pointer;
			transform: translate(2px, 2px);
		}
		& > div {
			@include respond-to('tiny') {
				display: flex;
				justify-content: space-between;
				padding: 5%;
			}
			box-sizing: border-box;
			display: block;
			height: 100%;
			padding: 8%;
			border: 1px solid $lightest-gray;
			transition: border 180ms linear;
			&:hover {
				border: 1px solid rgba(121, 119, 132, 0.6)
			}
		}
		& > div > div {
			@include respond-to('tiny') {
				flex-basis: 60%;
			}
		}
		.project-img {
			@include respond-to('tiny') {
				display: inline-block;
				flex-basis: 30%;
				margin: 0;
				max-width: 30%;
			}
			display: block;
			height: 70px;
			margin: 0 auto;
			max-width: 90%;
			width: 90%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		h1 {
			font-family: $main-stack;
			font-weight: 400;
			margin-bottom: 0;
			margin-bottom: 10px;
			text-transform: none;
		}
		span {
			font-family: $main-stack;
			font-size: 0.7em;
		}
	}
}
