html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: Cardo;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}



#container {
    width: 65%;
    padding: 0 20px;
    min-width: 600px;
    max-width: 900px;
    height: 82%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 5% auto;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
}

#controls {
    width: 80%;
    height: 108px;
    margin: auto;
    text-align: center;
}

#controls > div {
    display: inline-block;
    width: 32%;
    height: 108px;
    text-align: center;
}

h1#title {
    font-family: Montserrat;
    font-size: 5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #4abdac;
}

p a,
p a:link,
p a:active {
    display: inline-block;
    border-bottom: 0.2em solid #4abdac;
    line-height: 0.9em;
    cursor: pointer;
    -moz-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}

p a:hover {
    border-bottom: 0.3em solid #f7cf32;
}

h2 {
    font-family: Montserrat;
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #fc4a1a;
}

h3 {
    font-family: Montserrat;
    font-size: .5em;
    font-weight: normal;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bdbdbd;
}

#hard-expl h3 {
    font-size: .7em;
    padding-left: 4px;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

#hard-expl h3:hover {
    cursor: pointer;
    color: #000;
}

#finish-message h2 {
    font-size: 3em;
    display: inline-block;
}

#finish-message {
    font-family: Montserrat;
    font-size: .9em;
    font-weight: normal;
    width: 60%;
    min-width: 325px;
    max-width: 475px;
    margin: 15px auto 0 auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bdbdbd;
}

strong.fontr {
    font-family: Montserrat;
}

#hard-expl-box {
    position: relative;
    z-index: -100;
    float: right;
    width: 0;
    height: 0;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

#hard-expl-box > div {
    font-family: Montserrat;
    font-size: .5em;
    font-weight: normal;
    position: relative;
    top: -73px;
    left: 4px;
    width: 250px;
    height: 100px;
    padding: 10px 10px 10px 37px;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background-image: url('../hard-expl-bg-red.jpg');
}

#hard-expl-box > div td {
    text-align: left;
}

hr {
    width: 80%;
    height: 9px;
    border: none;
    border-top: 3px solid #f7cf32;
    border-bottom: 3px solid #f7cf32;
}

.switch {
    position: relative;
    display: inline-block;
}


/* hide the checkbox input (only needed for `:checked` property) */

.switch-input {
    display: none;
}


/* switch */

.switch-label {
    display: block;
    clip: rect(0 0 0 0);
    width: 48px;
    height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: -150%;
    color: transparent;
    direction: ltr;
}

.switch-label:before,
.switch-label:after {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
}

.switch-label:before {
    width: 100%;
    height: 100%;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    border-radius: 9999em;
    background-color: #e0e0e0;
}

.switch-label:after {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .45);
}

.switch-label:hover:after {
    box-shadow: 0 0 6px rgba(74, 189, 172, 1);
}

.switch-input:checked + .switch-label:before {
    background-color: #4abdac;
}

.switch-input:checked + .switch-label:after {
    left: 24px;
}

#legend {
    width: 97%;
    max-width: 600px;
    margin: auto;
}

#legend,
#records,
#game-card,
#log-card {
    padding: 0;
}

#legend td:first-child {
    width: 65%;
    border-left: 1px solid #e0e0e0;
}

#legend td {
    border-right: 1px solid #e0e0e0;
}

#legend span {
    font-size: 3.5em;
}

#records td {
    width: 20%;
}

.btn {
    font-family: Montserrat;
    position: relative;
    display: inline-block;
    width: 90%;
    text-align: center;
    color: #000;
    background: #e0e0e0;
}

#submit-btn {
    font-size: .5em;
    overflow: hidden;
    height: 32px;
    margin: 0;
    padding: 10px 0;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    text-transform: uppercase;
}

#play-btn,
#quit-btn {
    overflow: hidden;
    height: 68px;
    margin: 20px 0;
    padding: 20px 0;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#play-btn:hover,
#quit-btn:hover,
#submit-btn:hover {
    cursor: pointer;
    letter-spacing: 1px;
    background: none;
}

#play-btn:before,
#play-btn:after,
#quit-btn:before,
#quit-btn:after,
#submit-btn:before,
#submit-btn:after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    content: '';
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fc4a1a;
}

#play-btn:after,
#quit-btn:after,
#submit-btn:after {
    top: auto !important;
    right: -100%;
    bottom: 0 !important;
    left: auto;
}

#play-btn:hover:before,
#quit-btn:hover:before,
#submit-btn:hover:before {
    left: 0;
}

#play-btn:hover:after,
#quit-btn:hover:after,
#submit-btn:hover:after {
    right: 0;
}

#legend-box {
    margin: 30px 5%;
}

#record-box {
    margin: 30px 20% 0 20%;
}

#record-box span {
    padding: 2px 5px;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

#curr-mode.easy,
strong.correct {
    color: #4abdac;
}

#curr-mode.easy:after {
    content: 'Easy';
}

#curr-mode.hard,
strong.incorrect {
    color: #fc4a1a;
}

#curr-mode.hard:after {
    content: 'Hard';
}

#game-card {
    margin: 30px 3% 0 3%;
}

#log-card {
    margin: 0 3% 30px 3%;
}

#game-card td.choice {
    min-width: 18%;
    text-align: left;
}

#game-card td.filler {
    width: auto;
}

#game-card td#font-sample {
    min-width: 150px;
    padding-right: 20px;
    text-align: center;
}

#log-card td#notification-cell {
    line-height: 15px;
    width: 75%;
    padding: 9px 0 9px 0;
    text-align: center;
}

#log-card td#notification-cell h3 {
    margin: 0;
    ;
}

#log-card td#countdown-cell {
    width: 75%;
    height: 3px;
    padding: 0;
    background-color: rgba(224, 224, 224, .7);
}

#log-card td#countdown-cell #countdown.green {
    height: 100%;
    background-color: #4abdac;
}

#log-card td#countdown-cell #countdown.yellow {
    height: 100%;
    background-color: #f7cf32;
}

#log-card td#countdown-cell #countdown.red {
    height: 100%;
    background-color: #fc4a1a;
}

#game-card span {
    font-size: 3em;
}

#game-card td.choice {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

#game-card td.choice div {
    position: relative;
    display: block;
    margin-left: 5px;
}

#game-card td.choice div input[type=radio] {
    position: absolute;
    visibility: hidden;
}

#game-card td.choice div label {
    line-height: 1.2;
    position: relative;
    z-index: 9;
    display: block;
    height: 30px;
    margin: 10px auto;
    padding: 5px 5px 5px 30px;
    cursor: pointer;
}

#game-card td.choice:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

#game-card td.choice div .check {
    position: absolute;
    z-index: 5;
    top: 6px;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    -webkit-transition: box-shadow .2s linear, background .3s linear;
    -moz-transition: box-shadow .2s linear, background .3s linear;
    transition: box-shadow .2s linear, background .3s linear;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .45);
}

#game-card td.choice:hover div .check {
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
}

#game-card td.choice div input[type=radio]:checked ~ .check {
    background-color: #4abdac;
    ;
}

#log-card td#submit-cell {
    padding: 10px 0;
}

#log-card td#submit-cell > div {
    width: 20%;
    min-width: 80px;
    height: 32px;
    margin: 0 auto 0 10px;
}
