/* ROOT */

html {
  height: 100%;
  width: 100%;
}

body,
#__next {
  box-sizing: border-box;
  height: 100%;
  margin: 0; /* Removes default style */
  overflow: hidden; /* Makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
  width: 100%;
}

/* LAYOUT */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}

.absolute {
  position: absolute;
}

.non-scrollable {
  overflow: hidden;
}

.scrollable-y {
  overflow-y: auto;
}

.text-align-center {
  text-align: center;
}

/* FONT */

$karla: 'Karla';

@font-face {
  font-family: $karla;
  font-weight: normal;
  src: url('/fonts/Karla/Karla-Regular.ttf');
}

@font-face {
  font-family: $karla;
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/Karla/Karla-Italic.ttf');
}

@font-face {
  font-family: $karla;
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/Karla/Karla-BoldItalic.ttf');
}

@font-face {
  font-family: $karla;
  font-weight: bold;
  src: url('/fonts/Karla/Karla-Bold.ttf');
}

$titillium: 'TitilliumWeb';

@font-face {
  font-family: $titillium;
  font-weight: normal;
  src: url('/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: $titillium;
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/TitilliumWeb/TitilliumWeb-Italic.ttf');
}

@font-face {
  font-family: $titillium;
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.ttf');
}

@font-face {
  font-family: $titillium;
  font-weight: bold;
  src: url('/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: $titillium;
  font-style: italic;
  font-weight: lighter;
  src: url('/fonts/TitilliumWeb/TitilliumWeb-LightItalic.ttf');
}

@font-face {
  font-family: $titillium;
  font-weight: lighter;
  src: url('/fonts/TitilliumWeb/TitilliumWeb-Light.ttf');
}

$yeseva-one: 'YesevaOne';

@font-face {
  font-family: $yeseva-one;
  src: url('/fonts/YesevaOne/YesevaOne-Regular.ttf');
}

$headers: (
  h1: (
    'size': 40px,
    'family': $yeseva-one,
    'weight': normal,
  ),
  h3: (
    'size': 25px,
    'family': $karla,
    'weight': bold,
  ),
  h4: (
    'size': 20px,
    'family': $yeseva-one,
    'weight': normal,
  ),
);

@mixin header-modifiers($scale: $headers, $and-children: false) {
  @each $name, $attributes in $scale {
    @each $attribute, $value in $attributes {
      #{$name} {
        #{'font-'}#{$attribute}: $value;
      }

      @if $and-children {
        #{$name} * {
          #{'font-'}#{$attribute}: $value;
        }
      }
    }
  }
}

@include header-modifiers($headers, true);

/* Default font */
* {
  font-family: $titillium;
  font-weight: lighter;
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.font-italic {
  font-style: italic;
}

/* LIST */

.no-default-bullets {
  // list-style: none;
  padding-left: 10px;
}

/* SIZE */

.sidebar-width {
  box-sizing: border-box;
  max-width: 240px;
  min-width: 240px;
}

/* PADDING/MARGIN */

.padding-med-h,
%padding-med-h {
  padding-left: 18px;
  padding-right: 18px;
}

.padding-med-v,
%padding-med-v {
  padding-bottom: 18px;
  padding-top: 18px;
}

.padding-med {
  @extend %padding-med-h;
  @extend %padding-med-v;
}

.margin-0 {
  margin: 0;
}
