@import 'theme/fonts';
@import 'theme/colors';

/* ROOT */

html {
  height: 100%;
  width: 100%;
}

body,
#__next {
  box-sizing: border-box;
  height: 100%;
  margin: 0; /* Removes default style */
  overflow: hidden; /* Makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
  width: 100%;
}

/* LAYOUT */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.non-scrollable {
  overflow: hidden;
}

.scrollable-y {
  overflow-y: auto;
}

.text-align-center {
  text-align: center;
}

/* LIST */

.no-default-bullets {
  list-style: none;
}

/* SIZE */

.border-box {
  box-sizing: border-box;
}

.width-0 {
  width: 0;
}

.height-0 {
  height: 0;
}

.circular {
  border-radius: 50%;
}

.main-column-size {
  max-width: 240px;
  min-width: 240px;
}

/* PADDING/MARGIN */

$space-sizes: (
  '0': 0,
  xs: 0.4em,
  sm: 0.75em,
  med: 1.5em,
  lg: 2.5em,
);

@mixin padding-margin-classes($scale: $space-sizes) {
  @each $space-type in 'padding', 'margin' {
    @each $name, $size in $scale {
      @each $direction in 'top', 'bottom', 'left', 'right' {
        /*
         * Produces styles like:
         * .padding-med-top, %padding-med-top {
         *   padding-top: 1.5em
         * }
         */
        &#{'.'}#{$space-type}#{'-'}#{$name}#{'-'}#{$direction},
        %#{$space-type}#{'-'}#{$name}#{'-'}#{$direction} {
          #{$space-type}#{'-'}#{$direction}: $size;
        }
      }

      /*
       * Produces styles like:
       * .padding-med-v, %padding-med-v {
       *   @extend %padding-med-top;
       *   @extend %padding-med-bottom;
       * }
       */
      &#{'.'}#{$space-type}#{'-'}#{$name}#{'-v'},
      %#{$space-type}#{'-'}#{$name}#{'-v'} {
        @extend #{'%'}#{$space-type}#{'-'}#{$name}#{'-top'};
        @extend #{'%'}#{$space-type}#{'-'}#{$name}#{'-bottom'};
      }

      /*
       * Horizontal equivalent of the previous mapping
       */
      &#{'.'}#{$space-type}#{'-'}#{$name}#{'-h'},
      %#{$space-type}#{'-'}#{$name}#{'-h'} {
        @extend #{'%'}#{$space-type}#{'-'}#{$name}#{'-left'};
        @extend #{'%'}#{$space-type}#{'-'}#{$name}#{'-right'};
      }

      /*
       * Produces styles like:
       * .padding-med {
       *   @extend %padding-med-v;
       *   @extend %padding-med-h;
       * }
       */
      &#{'.'}#{$space-type}#{'-'}#{$name} {
        @extend #{'%'}#{$space-type}#{'-'}#{$name}#{'-h'};
        @extend #{'%'}#{$space-type}#{'-'}#{$name}#{'-v'};
      }
    }
  }
}

@include padding-margin-classes($space-sizes);

.margin-0 {
  margin: 0;
}

/* Z-INDEX */

.z-index-top {
  z-index: 100;
}

.z-index-middle {
  z-index: 50;
}

.z-index-bottom {
  z-index: 0;
}

/* BORDER */

.border-0 {
  border: 0;
}

/* BACKGROUND */

.background-none {
  background: none;
}
