@import 'theme/fonts';
@import 'theme/colors';

/* ROOT */

html {
  height: 100%;
  width: 100%;
}

body,
#__next {
  box-sizing: border-box;
  height: 100%;
  margin: 0; /* Removes default style */
  overflow: hidden; /* Makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
  width: 100%;
}

/* LAYOUT */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.grid {
  display: grid;
}

.absolute {
  position: absolute;
}

.non-scrollable {
  overflow: hidden;
}

.scrollable-y {
  overflow-y: auto;
}

.text-align-center {
  text-align: center;
}

/* LIST */

.no-default-bullets {
  list-style: none;
}

/* SIZE */

.border-box {
  box-sizing: border-box;
}

.width-0 {
  width: 0;
}

.height-0 {
  height: 0;
}

.circular {
  border-radius: 50%;
}

.main-column-size {
  max-width: 180px;
  min-width: 180px;
}

/* PADDING/MARGIN */

.padding-sm-top,
%padding-sm-top {
  padding-top: 0.75em;
}

.padding-sm-bottom,
%padding-sm-bottom {
  padding-bottom: 0.75em;
}

.padding-sm-h,
%padding-sm-h {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.padding-sm-v,
%padding-sm-v {
  @extend %padding-sm-top;
  @extend %padding-sm-bottom;
}

.padding-sm {
  @extend %padding-sm-h;
  @extend %padding-sm-v;
}

.padding-med-h,
%padding-med-h {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.padding-med-v,
%padding-med-v {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.padding-med {
  @extend %padding-med-h;
  @extend %padding-med-v;
}

.padding-lg-h,
%padding-lg-h {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.padding-lg-v,
%padding-lg-v {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

.padding-lg {
  @extend %padding-lg-h;
  @extend %padding-lg-v;
}

.margin-0 {
  margin: 0;
}

.padding-0-h,
%padding-0-h {
  padding-left: 0;
  padding-right: 0;
}

.padding-0-v,
%padding-0-v {
  padding-bottom: 0;
  padding-top: 0;
}

.padding-0 {
  @extend %padding-0-h;
  @extend %padding-0-v;
}

/* Z-INDEX */

.z-index-top {
  z-index: 100;
}

.z-index-middle {
  z-index: 50;
}

.z-index-bottom {
  z-index: 0;
}

/* BORDER */

.border-0 {
  border: 0;
}

/* BACKGROUND */

.background-none {
  background: none;
}
