html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.2em;
  font-family: Cardo;
  line-height: 1.5;
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  margin: 64px auto;
  text-align: center;
}

#container,
#placeholder,
#placeholder2,
table {
  width: 100%;
  text-align: center;
}

#controls {
  width: 80%;
  height: 108px;
  margin: auto;
  text-align: center;
}

#controls > div {
  display: inline-block;
  width: 32%;
  height: 108px;
  text-align: center;
}

h1#title {
  font-family: Montserrat;
  font-size: 5em;
  margin: 0;
  padding: 0;
  color: #4ABDAC;
}

h2 {
  font-family: Montserrat;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #FC4A1A;
}

h3 {
  display: inline-block;
  color: #BDBDBD;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 0.5em;
}

#hard-expl h3 {
  padding-left: 4px;
  font-size: 0.7em;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#hard-expl h3:hover {
  cursor: pointer;
  color: #000;
}

#finish-message h2 {
  display: inline-block;
  font-size: 3em;
}

#finish-message {
  width: 60%;
  max-width: 475px;
  min-width: 325px;
  margin: 15px auto 0 auto;
  color: #BDBDBD;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 0.9em;
}

#hard-expl-box {
  float: right;
  position: relative;
  z-index: -100;
  height: 0px;
  width: 0px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#hard-expl-box > div {
  position: relative;
  top: -73px;
  left: 4px;
  height: 100px;
  width: 250px;
  padding: 10px 10px 10px 37px;
  background-image: url('hard-expl-bg-red.jpg');
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: Montserrat;
  font-size: 0.5em;
}

#hard-expl-box > div td {
  text-align: left;
}

hr {
  height: 9px;
  width: 80%;
  border: none;
  border-top: 3px solid #F7CF32;
  border-bottom: 3px solid #F7CF32;
}

.switch {
  position: relative;
  display: inline-block;
}

/* hide the checkbox input (only needed for `:checked` property) */
.switch-input {
  display: none;
}

/* switch */
.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch-label:before,
.switch-label:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-label:before {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 9999em;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.switch-label:after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.switch-label:hover:after {
  box-shadow: 0 0 6px rgba(74, 189, 172, 1);
}

.switch-input:checked + .switch-label:before {
  background-color: #4ABDAC;
}

.switch-input:checked + .switch-label:after {
  left: 24px;
}

#legend,
#records,
#game-card {
  padding: 0;
}

#legend td:first-child {
  width: 65%;
}

#legend span {
  font-size: 3.5em;
}

#records td {
  width: 20%;
}

.btn {
  display: inline-block;
  text-align: center;
  width: 90%;
  position: relative;
  font-family: Montserrat;
  background: #e0e0e0;
  color: #000;
}

#submit-btn {
  font-size: 0.5em;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  height: 32px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#play-btn,
#quit-btn {
  padding: 20px 0;
  margin: 20px 0;
  height: 68px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#play-btn:hover,
#quit-btn:hover,
#submit-btn:hover {
  background: none;
  letter-spacing: 1px;
  cursor: pointer;
}

#play-btn:before,
#play-btn:after,
#quit-btn:before,
#quit-btn:after,
#submit-btn:before,
#submit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FC4A1A;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#play-btn:after,
#quit-btn:after,
#submit-btn:after {
  bottom: 0 !important;
  top: auto !important;
  right: -100%;
  left: auto;
}

#play-btn:hover:before,
#quit-btn:hover:before,
#submit-btn:hover:before {
  left: 0;
}

#play-btn:hover:after,
#quit-btn:hover:after,
#submit-btn:hover:after {
  right: 0;
}

#legend-box {
  margin: 30px 20%;
}

#record-box {
  margin: 30px 20% 0px 20%;
}

#record-box span {
  padding: 2px 5px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#curr-mode.easy,
strong.correct {
  color: #4ABDAC;
}

#curr-mode.easy:after {
  content: 'Easy';
}

#curr-mode.hard,
strong.incorrect {
  color: #FC4A1A; 
}

#curr-mode.hard:after {
  content: 'Hard';
}

#game-card {
  margin: 30px 3%;
}

#game-card td {
  text-align: left;
  width: 25%;
}

#game-card td#font-sample {
  text-align: center;
  width: 50%;
}

#game-card td#notification-cell {
  padding: 40px 0;
  text-align: center;
}

#game-card span {
  font-size: 3.5em;
}

#game-card td#submit-cell {
  padding: 30px 0;
}

#game-card td#submit-cell > div {
  width: 20%;
  margin: 0 auto 0 10px;
  min-width: 80px;
}