@import 'colors';
@import 'fonts/karla';
@import 'fonts/titillium';
@import 'fonts/yeseva-one';

$headers: (
  h1: (
    'font-size': 40px,
    'font-family': $yeseva-one,
    'font-weight': normal,
  ),
  h2: (
    'font-size': 25px,
    'font-family': $karla,
    'font-weight': bold,
  ),
  h3: (
    'font-size': 20px,
    'font-family': $yeseva-one,
    'font-weight': normal,
  ),
  h4: (
    'font-size': 20px,
    'font-family': $karla,
    'font-weight': normal,
  ),
  h5: (
    'font-size': 16px,
    'font-family': $yeseva-one,
    'font-weight': normal,
  ),
  h6: (
    'letter-spacing': 1.2px,
  ),
);

@mixin header-modifiers($scale: $headers) {
  @each $name, $attributes in $scale {
    @each $attribute, $value in $attributes {
      #{$name} {
        #{$attribute}: $value;
      }
    }
  }
}

@include header-modifiers($headers);

/* Default font */
* {
  font-family: $titillium;
  font-weight: lighter;
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

.font-italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.no-decoration {
  text-decoration: none;
}

/** Main text font sizs */

$font-sizes: (
  xsmall: 11px,
  small: 13px,
);

@mixin font-size-classes($scale: $font-sizes) {
  @each $name, $size in $scale {
    &#{'.'}#{$name} {
      font-size: $size;
    }
  }
}

@include font-size-classes($font-sizes);
