@import 'colors';
@import 'fonts/karla';
@import 'fonts/titillium';
@import 'fonts/yeseva-one';

$headers: (
  h1: (
    'font-size': 40px,
    'font-family': $yeseva-one,
    'font-weight': normal,
  ),
  h2: (
    'font-size': 25px,
    'font-family': $karla,
    'font-weight': bold,
  ),
  h3: (
    'font-size': 20px,
    'font-family': $yeseva-one,
    'font-weight': normal,
  ),
  h4: (
    'font-size': 20px,
    'font-family': $karla,
    'font-weight': normal,
  ),
  h5: (
    'font-size': 16px,
    'font-family': $yeseva-one,
    'font-weight': normal,
  ),
  h6: (
    'letter-spacing': 1.2px,
  ),
);

@mixin header-modifiers($scale: $headers) {
  @each $name, $attributes in $scale {
    @each $attribute, $value in $attributes {
      #{$name} {
        #{$attribute}: $value;
      }
    }
  }
}

@include header-modifiers($headers);

strong,
.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}

em,
.font-italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.no-decoration {
  text-decoration: none;
}

.no-box-shadow {
  box-shadow: none;
}

/** Main text font sizs */

$font-sizes: (
  xsmall: 11px,
  small: 13px,
  medium: 16px,
  large: 18px,
);

@mixin font-size-classes($scale: $font-sizes) {
  @each $name, $size in $scale {
    &#{'.'}#{$name} {
      font-size: $size;
    }
  }
}

/** Main text font names */

$font-names: (
  karla: $karla,
  yeseva-one: $yeseva-one,
  titillium: $titillium,
);

@mixin font-name-classes($fonts: $font-names) {
  @each $name, $font-name in $fonts {
    &#{'.'}#{$name} {
      font-family: $font-name;
    }
  }
}

* {
  /** Default font */
  font-family: $titillium;
  font-weight: lighter;

  @include font-size-classes($font-sizes);
  @include font-name-classes($font-names);
}
